html {
    background-color: #8c8c8c;
    font-family: Arial;
}

body {
    margin: 0px;
}



#app {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;

    &[v-cloak] {
        display: none;
    }
}

.conteneur-grille {
    display: flex;
    flex-wrap: wrap;
    width: 75px * 3;

    .carre {
        width: 75px;
        height: 75px;
        border: 1px solid #000;
        box-sizing: border-box;
        background-color: #fff;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 42px;

        &.jouable {
            box-shadow: inset 0px 0px 5px #0F0;
            cursor: pointer;
        }
    }
}